body {
	margin: 10px;
}

.container {
	margin: 0px;
	padding: 0px;
}

.colored {
	background-color: rgb(151, 138, 197);
	color: rgb(20, 16, 16);
}

.custom-select {
	background-color: rgb(255, 216, 87);
}

select option {
	background-color:white;
}

.centered {
	display: flex;
	justify-content: center;
}

.card {
	border-radius: 20px;
	border: 2px solid #181616;
	padding: 0px 10px 0px 10px;
	margin: 5px 0px 5px 0px;
}

.canvas {
	margin-top: 15px;
	display : inline-block;
}
